:root {
    --button-bgcolor-green: #1aa179;
    --button-bgcolor-red: #b02a37;
    --linear-gradient: linear-gradient(to bottom, #1f69bd, #39a4f0);
    --color-white: #f8f8f8;
    --font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    background-image: var(--linear-gradient);
}

/* --------------------------------ESTILOS DEL HEADER-------------------------------- */
.header {
    text-align: center;
    color: var(--color-white);
    letter-spacing: .7em;
    margin-bottom: 2.4em;
}

.header__title {
    font-size: 1.6rem;
}

.container-form-add-work__input {
    width: 100%;
    height: 40px;
    border-radius: 1em;
    outline: none;
    border: none;
    padding-left: .8em;
    margin-bottom: 1.2em;
    font-size: .9rem;
}

.container-form-add-work__btn {
    width: 140px;
    background-color: var(--button-bgcolor-green);
    color: var(--color-white);
    padding: .9em;
    border: none;
    outline: none;
    border-radius: 1em;
    cursor: pointer;
    font-size: .9rem;
}

/* --------------------------------ESTILOS DEL MAIN-------------------------------- */
.main {
    background-color: transparent;
    padding: 1em;
}

.container-works {
    background-color: var(--color-white);
    border-radius: 1em;
    overflow: hidden;
    margin-top: 1.3em;
}

.container-work {
    display: flex;
    padding-left: 1em;
    height: 50px;
    align-items: center;
    font-size: .85rem;
    justify-content: space-between;
    padding-right: 1em;
}

.container-work--complete {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.391);
}

.container-options-work {
    display: flex;
    align-items: center;
    column-gap: .7em;
}

.container-options-work__btn,
.container-form-edit-work__btn {
    border: none;
    outline: none;
    font-size: 1.04rem;
    background-color: transparent;
}

.container-options-work__btn--edit,
.container-form-edit-work__btn--edit {
    color: var(--button-bgcolor-green);
}

.container-options-work__btn--delet,
.container-form-edit-work__btn--cancel {
    color: var(--button-bgcolor-red);
}

.container-form-edit-work {
    width: 100%;
    display: flex;
    column-gap: .5em;
}

.container-form-edit-work__input {
    width: 90%;
    max-width: 300px;
    height: 33px;
    padding-left: .7em;
    border-radius: 1em;
    outline: none;
    border: none;
    background-color: rgb(226, 226, 226);
}

.container-works-pending {
    display: flex;
    flex-direction: column;
    column-gap: 1.3em;
    font-size: .9rem;
    padding-left: 1em;
    padding-bottom: 1em;
}

.container-works-pending__paragraph {
    margin: 0;
}

.container-works-pending__btn {
    width: 140px;
    padding: .9em;
    border: none;
    border-radius: 1em;
    outline: none;
    color: var(--color-white);
    background-color: var(--button-bgcolor-red);
    margin-top: 1em;
    cursor: pointer;
    font-size: .9rem;
}

/* --------------------------------ESTILOS DEL FOOTER-------------------------------- */
.footer {
    font-style: italic;
    text-align: center;
    margin-top: auto;
    color: var(--color-white);
    font-size: 1.06rem;
    font-weight: bolder;
}

.footer__paragraph a {
    color: inherit;
}

/* --------------------------------MEDIA QUERIES-------------------------------- */
@media screen and (min-width: 500px) {
    .container-form-add-work {
        display: flex;
        column-gap: 1em;
        align-items: center;
    }

    .container-work,
    .container-works-pending__btn,
    .container-works-pending,
    .container-form-add-work__input,
    .container-form-add-work__btn {
        font-size: .93rem;
    }

    .container-options-work__btn,
    .container-form-edit-work__btn {
        font-size: 1.08rem;
    }

    .container-form-add-work__input {
        margin: 0;
    }

    .container-form-add-work__btn {
        flex-shrink: 0;
    }

    .container-works {
        margin-top: 1.9em;
    }

    .container-works-pending {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 1em;
    }
}

@media screen and (min-width: 600px) {
    .main {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 700px) {
    .main {
        padding: 1.6em;
    }
}

@media screen and (min-width: 900px) {
    .main {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .container-work {
        height: 55px;
    }

    .container-work:hover {
        background-color: rgba(233, 233, 233, 0.723);
    }
}

@media screen and (min-width: 1400px) {
    .main {
        width: 700px;
    }
}

.hide {
    display: none;
}